

header video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}


#headerNav {
  position: absolute;
  color:gray;
  z-index: 9999;
  top: 10%;
  left: 65%;
}

.headerList {
  font-size: 50px;
  display: inline-block;
  padding: 20px;
}


#headerTitle {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 35px;
  padding-top: 70px;
}

header a {
  color: grey;
}